In [10]:
import numpy as np
import pandas as pd
x = np.zeros(10).reshape(2,5)
y = np.ones(10)
x

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [7]:
y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [39]:
arr = np.arange(5)+10
ser = pd.Series(arr, index=['a','b','c','d','e'])
# df1 = pd.DataFrame(arr)
ser

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [44]:
dict = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(dict)
df

   0  1  2
0  1  2  3
1  4  5  6

In [46]:
df2 = pd.DataFrame({"c1":[1,2,3],"c2":[4,5,6],"c3":[7,8,9]},index=["r1","r2","r3"])
df2

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

In [65]:
import json
x = '''
    {
        "a":"1",
        "b":"2"
    }
    '''

a = json.loads(x)
print(type(a))
a

<class 'dict'>

{'a': '1', 'b': '2'}

In [72]:
df3 = df2.to_dict()
# df3
type(df3)

dict